body {
    background: black;
    color: white; 
}

.navbar {
    border-bottom: .1em solid black;
}

.orangered {
    color: orangered;
}

.nav-item {
    margin: 0 .5em 0 .5em;
    padding: .5em;
    background: none;
    border: none;
    text-align: left;
    
}

.fas {
    margin-left: .5em;
    color: black;
}

.nav-item:hover {
    color: orangered;
}

.fas:hover {
    color: white;
}

.gif {
    transition-delay: .1s;
    transition-duration: .8s;
    min-width: 20%;
    max-height: 50%;
    max-width:20%;
    padding: 1em;
    margin: auto;
}

#clear {
    font-size: 1em;
    background: orangered;
    border: none;
}




